.maps-filter-panel{
     display: flex;
    flex-flow: row wrap;
    justify-content: flex-start ;
    align-items: flex-start;
    
  }
  
  .maps-filter-panel-item  {
    height: 100%;
    width: 100%;
    margin: 0.2em 0.2em 0.2em 0.2em;
    max-width: 40px;
    max-height: 40px;
    min-width: 26px;
    max-height: 26px;
  }
  
  .maps-filter-panel-item img {
      max-width: 100%;
      max-height: 100%;
  }
  .maps-filter-panel-item .text {
    background:rgba(255,255,255,0.5);
    position: relative;
    transform:translateY(-120%);
    text-align: left;  
   
  }
  
 
  

