.main-panel{
     display: flex;
    flex-flow: column wrap;
    justify-content: flex-start ;
    align-items: flex-start; 
    
  }
  
  .main-panel-item  {
    
    height: 100%;
    width: 100%;
    margin: 1em 1em 1em 1em;
    max-width: 80px;
    max-height: 80px;
    min-width: 55px;
    max-height: 55px;
  }
  
  .main-panel-item img {
      max-width: 100%;
      max-height: 100%;
  }
  .main-panel-item .text {
    background:rgba(255,255,255,0.5);
    position: relative;
    transform:translateY(-120%);
    text-align: left;  
   
  }
  
 
  

